<%= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f| %>

<% if @member.errors.any? %>
    <div id="errorExplanation" class="alert alert-error">
      <ul>
        <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
 
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>  
  <%= f.input :country, :include_blank => t('.select_country') %>
  <%= f.input :state %>
  <%= f.input :city %>
  <%= f.input :zip %>  
  <div class="form-actions">
    <%= f.button :submit, 'Signup', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>
