
<div class="row">
   <div class="text-right">
      <%= will_paginate @products %>   
   </div>
</div>

     <!-- category, subcategory menu -->
  

 <div class="row">
     
   <!-- category, subcategory menu ends here -->
   <!-- product listing -->
   
      <% for product in @products %>
      <div class="col-md-12">

      <div class="hero-unit">
         <p><%= product.name %></p>
         <h4>
            <i class="icon-rupee">  </i> <%= sprintf("%.2f",
               product.price) %>
         </h4>
         <%= form_tag("/cart_items", method: "post") do %>
         <%= hidden_field_tag(:id, product.id) %>
         <%= submit_tag("+ Add to Cart",  :class => 'btn btn-primary')  %>
         <% end %>
         </div>
      </div>
   <% end %>
</div>
<div class="row">
   <div class="text-right">
      <%= will_paginate @products %>   
   </div>
</div>
</div>
<!-- product listing ends here-->

